.res-profile-page{
    min-height: 94vh;
}

.res-profile-page  .center-div{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.res-profile-page .profile-pic-div{
    max-width: 30%;
}

.res-profile-page  .profile-text{
    font-family: 'Roboto', sans-serif;
}
.res-profile-page  .profile-text .username{
    font-size: 22px;
    text-transform: capitalize;
}
.res-profile-page .profile-text .token{
    font-size: 18px;
    text-transform: capitalize;
}