.food-page{
    background-color: white;
    min-height: 200vh;
}

.food-page .food-page-filters{
    z-index: 200;
}

.food-page .food-page-filters .filter-scroll::-webkit-scrollbar {
    display: none;
}

.food-page .search-box-food{
    background-color: #f5f5f575;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}