.db-profile-page  .center-div{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.db-profile-page .profile-pic-div{
    max-width: 30%;
}

.db-profile-page  .profile-text{
    font-family: 'Roboto', sans-serif;
}
.db-profile-page  .profile-text .username{
    font-size: 22px;
    text-transform: capitalize;
}
.db-profile-page .profile-text .token{
    font-size: 18px;
    text-transform: capitalize;
}