.cart-main{
    width: 262px;
    height: 265px;
    min-width: 262px;
    min-height: 265px;
    /* border: 1px solid red; */
    position: relative;
    /* z-index: -20; */
    font-family: 'Roboto', sans-serif;
}

.cart-img{
    filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 8px);
    width: 100%;
    position: relative;
}
.cart-img img{
    width: 100%;
    height: 180px;
    border-radius: 15px;
    object-fit: cover;
}

.cart-main .card-text{
    text-transform: capitalize;
}

.card-text .res-name{
    font-size: 24px;
    font-weight: 500;
}

.cart-main .card-text .food-category, .cart-main .card-text .ras-city{
    font-size: 15px;
}