.neworder-page{
    min-height: 100vh;
}

.neworder-page .new-orders-main .new-order-div{
    width: 95%;
    min-height: 200px;
    flex-shrink: 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04);
    border-radius: 14px;
    background: #fff;
    font-family: 'Roboto', sans-serif;
}

.neworder-page .address-icon .address-text{
    font-size: 18px;
    /* line-height: 21px; */
    color: #ff6600;
}

.scroll-d-none::-webkit-scrollbar {
    display: none;
}


.neworder-page .table-responsive td{
    min-width: 100px;
    height: 70px;
}

.neworder-page .table-responsive th{
    min-width: 100px;
    font-weight: 500; 
    cursor: 'pointer'
}

.neworder-page .new-order-btn{
    padding: 8PX 10PX;
    color: white;
    border-radius: 10px;
    font-size: 18px;
}

.neworder-page .accept-order-btn{
    background-color: #ff6600;
    border: 1px solid #ff6600;
}
.neworder-page .reject-order-btn{
    background-color: #d83c39;
    border: 1px solid #d83c39;
}



