.my-cart-page{
    height: 100vh;
    overflow-y: hidden;
}

.my-cart-page .my-cart-item-scrollbar{
    overflow-y: auto;
    height: 90vh;
}

.my-cart-page .my-cart-item-scrollbar::-webkit-scrollbar {
    display: none;
}

.my-cart-page .price-summary-box{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    border-radius: 10px;
    background: #fff;
}

.my-cart-page .my-cart-btn{
    background-color: #ff6600;
    border: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    padding: 8px;
    border-radius: 5px; 
}

.my-cart-page .cod-btn{
    background-color: transparent;
    color: #ff6600;
    border: 1px solid #ff6600;
}

.my-cart-page .cod-btn:hover{
    background-color: #ff6600;
    color: white;
    border: 1px solid #ff6600;
}

.form-check-input{
    border-color: #FF5B5B;
}

.form-check-input:checked {
    background-color: #FF5B5B;
    border-color: #FF5B5B;
    outline: none !important;
}

.my-cart-page .cart-location-popup{
    max-width: 430px;
    width: 95%;
    /* padding: 30px 0; */
    margin:  0 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}

.my-cart-page .cart-location-input-container .input{
    outline: none;
    padding: 6px 11px;
    letter-spacing: 1px;
    font-size: 18px;
    width: 85%;
    border-radius: 5px; 
}

@media (max-width: 760px) {
.my-cart-page{
    height: max-content !important;
}
.my-cart-page .my-cart-item-scrollbar{
    height: max-content;
}
}
